.heading {
	text-align: center;
}

.profile {
	display: flex;
	justify-content: center;
	
	> div {
		max-width: 50%;
		width: 300px;
	}
}

.text {
	text-align: justify;
}

.center {
	display: flex;
	justify-content: center;
}

.centerPadding {
	@extend .center;
	padding: 20px;
}

.centerIcons {
	display: flex;
	justify-content: center;
	> * {
		margin: 10px;
	}
}